/*reset*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, label {
    margin: 0;
}

img {
    max-width: 100%;
}

ol, ul {
    list-style: none;
}

a {
    box-shadow: inset 0 0 0 0 #f68664;
    color: #fff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 100px 0 0 0 #f68664;
    color: white;
}

a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
}

/*reset*/


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ebebeb;
}

.wrapper {
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}

.container {
    position: relative;

    max-width: 960px;
    min-width: 960px;

    margin: 0 auto;
    padding: 0;
}

.cv-card {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: #fff;
    box-shadow: 7px 7px 40px -20px rgba(0, 0, 0, 0.7),
    7px 7px 40px -20px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.header__wrap {
    position: relative;
    padding: 0 0 50px 100px;
}

.header__wrap:before {
    content: '';
    position: absolute;
    right: 60px;
    width: 1px;

    height: 100%;
    background: #ececec;
}

.header__title {
    padding: 60px 50% 10px 0;

    font-size: 62px;
    line-height: 60px;
    text-transform: uppercase;
}

.header__subtitle {
    padding: 10px 50% 0 0;

    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #777;
}

.header__divider {
    position: relative;

    height: 1px;
    background: #ececec;
}

.header__divider:after {
    content: '';
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;

    background: #000;
    border-radius: 3px;
}

.header__photo {
    position: absolute;
    bottom: 0;
    right: 120px;

    width: 280px;
    height: 280px;

    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.content {
    padding: 0 0 0 10px;
    display: flex;
}

.content__wrap {
   padding: 30px 25px 10px;
}

.main   {
    flex: 1 1 100%;
}
.aside {
    flex: 0 0 280px;
    padding: 30px 20px;
    background: #ebebeb;
}

.skills-list {}
.skills-list__item {
    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 8px;
}

.skills-list__item:last-child {
    margin-bottom: 0;
}


.skills-list__icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.content__box,
.aside__box {
    margin-bottom: 30px;
}

.nav,
.footer {
    padding: 20px;
    background: #000;
    color: #fff;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.subtitle {
    margin-bottom: 10px;
}

.my-profile {
    margin-bottom: 15px;
}

.my-profile a:active,
.my-profile a:focus{
    color: #000;
}

.my-profile a {
    color: #861111;

    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
}

.footer__logo-link:hover {
    box-shadow: none;
}

.footer__logo {
    width: 55px;
    height: 20px;
    background: #ebebeb;
}
